@font-face {
    font-family: "AR Bonnie Medium";
    src: "font/ARBONNIE.ttf";
    }
@font-face {
    font-family: "Arial";
    src: "font/arial.ttf";
    }
@font-face {
    font-family: "Century Gothic";
    src: "font/GOTHIC.TTF";
    }
@font-face {
    font-family: "Engravers Gothic BT";
    src: "font/tt0586m_.ttf;
    }